In [2]:
import numpy as np
import pandas as pd
import os

In [3]:
os.getcwd()

'/Users/nithinbs/Documents/ML'

In [6]:
data = pd.read_csv("/Users/nithinbs/Downloads/ENJOYSPORT.csv")
data

     Sky AirTemp Humidity    Wind Water Forecast  EnjoySport
0  Sunny    Warm   Normal  Strong  Warm     Same           1
1  Sunny    Warm     High  Strong  Warm     Same           1
2  Rainy    Cold     High  Strong  Warm   Change           0
3  Sunny    Warm     High  Strong  Cool   Change           1

In [8]:
d = np.array (data) [:,: -1]
print("The attributes are: ",d)

The attributes are:  [['Sunny' 'Warm' 'Normal' 'Strong' 'Warm' 'Same']
 ['Sunny' 'Warm' 'High' 'Strong' 'Warm' 'Same']
 ['Rainy' 'Cold' 'High' 'Strong' 'Warm' 'Change']
 ['Sunny' 'Warm' 'High' 'Strong' 'Cool' 'Change']]

In [10]:
target = np.array (data) [:, -1]
print("The target is: ",target)

The target is:  [1 1 0 1]

In [16]:
def findS(c,t):
    for i, val in enumerate(t):
        if val == 1:
            specific_hypothesis = c[i].copy()
            break
            
    for i, val in enumerate(c):
        if t[i] == 1:
            for x in range(len(specific_hypothesis)) :
                if val[x] != specific_hypothesis [x]:
                    specific_hypothesis[x] = '?'
                else:
                     pass
    return specific_hypothesis
print("\nThe final hypothesis is:", findS(d, target))

The final hypothesis is: ['Sunny' 'Warm' '?' 'Strong' '?' '?']